@font-face {
    font-family: MEODED-SERIF_OEBOLD;
    src: url("./fonts/MEODED-SERIF_OEBOLD.OTF") format("opentype");
}
@font-face {
    font-family: SABON-LT-ITALIC;
    src: url("./fonts/SABON-LT-ITALIC.TTF");
}
@font-face {
    font-family: MEODED-SERIF_OEREGULAR;
    src: url("./fonts/MEODED-SERIF_OEREGULAR.OTF");
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
main {
    position: relative;
    width: 100%;
}
#page {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}
#container a {
    color: #525B86;
    text-decoration: none;
}
.allGender {
    background: url('../images/2sex_icon.png') no-repeat;
    width: 42px;
    height: 40px;
    cursor: pointer;
    float: left;
}
.splitGender {
    background: url('../images/male-female.png') no-repeat;
    width: 67px;
    height: 40px;
    cursor: pointer;
    float: right;
    display: block;
}
a.active > .border {
    border-bottom: 3px solid #525B86;
    width: 34px;
    position: absolute;
    top: 112%;
}
a.active > .borderline{
    border-bottom: 3px solid #525B86;
    width: 67px;
    position: absolute;
    top: 105%;
}
.background {
   background: url(../images/background.png) no-repeat top center fixed;
   background-color: #fff4e7;
}
.breakTheWall {
   background: url(../images/breakTheWall.png) no-repeat top center fixed;
   background-color: #fff4e7;
}
#vis {
    width: 940px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    clear: both;
}

.footer_left {
    float: left;
    position: relative;
    left: 36%;
    width: 15%;
}

.footer_right {
    float: right;
    font-family: MEODED-SERIF_OEREGULAR;
    color: #525b86;
    margin-right: 3%;
}
.footer_right p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.footer_right p span {
    font-size: 26px;
}
.tooltip {
    position: absolute;
    top: 100px;
	left: 100px;
    -moz-border-radius:5px;
	padding: 10px;
    background: #fff4e7;
	width: 300px;
	font-size: 14px !important;
	z-index: 10;
    direction: rtl;
    font-family: MEODED-SERIF_OEBOLD !important;
    box-shadow:  8px 9px 0px #0D004C;
    border:  2px solid #525B86;
    padding-right: 20px;
}
.arrowTooltip {
    background: url('../images/highlighting.png');
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -11px;
}
.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
    font-weight:bold;
    color: #0D004C;
}
.tooltip .value {
    font-size: 16px;
    color: #0D004C;
}
.tooltip .definition {
    color: #525B86;
    font-size: 12px !important;
}

.arrow {
    cursor: pointer;
    font-size: 48px;
    float: left;
    position: relative;
    top: -300px;
    left: 11%;
}
.arrow a {
    color: #0D004C;
}
.arrow a:hover {
    text-decoration: none;
    color: #F44F2F;
}
.page-header {
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    top: 43px;
    left: 11%;
    float: left;
}
.page-header > h1 {
    font-size: 40px;
    color: #525b86;
    font-weight: normal;
    font-family: MEODED-SERIF_OEREGULAR;
}
.page-header > h1 > span {
   font-family: SABON-LT-ITALIC;
}
/* Drop shadow for each rect element */
/*
.shadow {
    -webkit-filter: drop-shadow( 8px 9px 0px #0D004C);
            filter: drop-shadow( 8px 9px 0px #0D004C);
}
*/

.text {
    direction: rtl;
    width: 22%;
    position: absolute;
    top: 53px;
    right: 62px;
    font-family: MEODED-SERIF_OEREGULAR;
    font-size: 16px;
}
.text a {
    color: #0D004C;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
}

.text a:hover {
    text-decoration: none;
    color: #0D004C;
}
.text p {
    color: #0D004C;
    line-height: 21px;
    padding-top: 10%;
}
.text > p > a {
    color: #0D004C !important;
    font-size: 16px;
    font-weight: normal;
}
.text p span {
    color: #525b86;
}
.background .text {
    right: 135px;
}

.word {
    width: 20xp;
    text-align: center;
}
#svg {
    position: relative;
    top: -40px;
    right: 100px;
}

/* break the wall page */

.arrowDown {
    cursor: pointer;
    font-size: 48px;
    position: relative;
    left: 8%;
    top: -12px;
    float: left;
}
.arrowDown a {
    color: #0D004C;
    text-decoration: none;
}
.arrowDown a:hover {
    text-decoration: none;
    color: #F44F2F;
}
div.row {
    top: 0px;
    display: block;
    margin-bottom: 2px;
    width: 10px;
    margin-right: 2px;
    background-color: teal;
}
section{
    overflow: auto;
}

section.column {
	display: block;
    float: right;
    width: 10px;
    margin-right: 2px;
    background-color: #fff;
    overflow: auto;
    position: relative;
    top: 171px;
    right: 30%;
}

.popup{
	width: 100px;
	height: 200px;
	position: absolute;
	background-color: red;
	display: none;
}

.breakTheWall footer {
    position: fixed;
}
/* ---------------------- */


/* wall of shame page */

.right {
    margin-left: 20%;
}
.footer_left_wall {
    float: left;
    position: relative;
    left: 6%;
    width: 15%;
}

#container {
/*    background-color: #ffffff;*/
    height: 450px;
    width: 100%;
    position: relative;
    top: 64px;
    float: left;
    left: 10px;
    padding-right: 4%;
    padding-left: 4%;
}
.unit {
    background-color: #f54f2e;
    height: 20px;
    width: 20px;
    margin: 1px;
    display: inline-block;
    float: left
}

/* ---------------------- */

@media (min-width: 1600px) {
    .container {
        width: 97% !important;
    }
}
@media (min-width: 1241px) {
    .background {
        background-size: 90%;
    }
    .breakTheWall {
       background-size: 100%;
    }
}

@media screen and (min-width: 840px) and (max-width: 1240px) {
    .background {
        background-size: 100%;
    }
    .breakTheWall {
       background-size: 100%;
    }
}
