@font-face {
    font-family: BOD_I;
    src: url("./fonts/BOD_I.TTF");
}
@font-face {
    font-family: BOD_R;
    src: url("./fonts/BOD_R.TTF");
}
@font-face {
    font-family: MEODED-SERIF_OEBOLD;
    src: url("./fonts/MEODED-SERIF_OEBOLD.OTF") format("opentype");
}
@font-face {
    font-family: SABON-LT-ITALIC;
    src: url("./fonts/SABON-LT-ITALIC.TTF");
}
@font-face {
    font-family: SABON-LT-ROMAN;
    src: url("./fonts/SABON-LT-ROMAN.TTF");
}
@font-face {
    font-family: MEODED-SERIF_OEREGULAR;
    src: url("./fonts/MEODED-SERIF_OEREGULAR.OTF");
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
main {
    position: relative;
}
#page {
    width: 990px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}
#container a {
    color: #525B86;
    text-decoration: none;
}

.allGender {
    background: url('../images/2sex_icon.png') no-repeat;
    width: 5%;
    height: 40px;
    cursor: pointer;
    float: left;
    position: relative;
}

.splitGender {
    background: url('../images/male-female.png') no-repeat;
    width: 9%;
    height: 40px;
    cursor: pointer;
    position: absolute;
    left: 15%;
}
a.active > .border{
    border-bottom: 3px solid #525B86;
    width: 34px;
    position: absolute;
    top: 119%;
}
a.active > .borderline{
    border-bottom: 3px solid #525B86;
    width: 67px;
    position: absolute;
    top: 105%;
}
.col-xs-1 {
    position: relative;
    left: 44%;
    top: 26px;
}
.background {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: 100% 100%;
}

#vis {
    width: 940px;
    height: 600px;
}

footer {
    height: 75px;
    position: relative;
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}
#toolbar {
    position: relative;
    left: 30%;
}
.footer_right {
    float: right;
    font-family: MEODED-SERIF_OEREGULAR;
    color: #525b86;
}
.footer_right p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
/*
.gender {
    font-size: 25px;
    fill: #F44F2F;
    cursor: default;
    font-family: SABON-LT-ITALIC;
}
*/

.tooltip {
    position: absolute;
    top: 100px;
	left: 100px;
    -moz-border-radius:5px;
    background: #FAC2C0;
	padding: 10px;
	width: 300px;
	font-size: 14px !important;
	z-index: 10;
    direction: rtl;
    font-family: MEODED-SERIF_OEBOLD !important;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
    font-weight:bold;
    color: #0D004C;
}
.tooltip .definition {
    color: #525B86;
    font-size: 12px !important;
}

.arrow {
    background: url('../images/arrow.png') no-repeat;
    width: 4%;
    height: 74px;
    position: relative;
    float: left;
    top: -200px;
    cursor: pointer;
}
.see {
    position: relative;
    top: 76%;
    left: 14%;
    font-size: 12px;
    font-family: BOD_I;
}
.see > span {
   font-family: BOD_R;
}
.contactUs {
    background: url('../images/contactUs.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 250px;
    left: 15%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.contact {
    position: relative;
    top: -13%;
    left: -11%;
    font-size: 12px;
    font-family: BOD_I;
}
.contact > span {
    font-family: BOD_R;
}
.wallOfshame {
    background: url('../images/wallShame.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 350px;
    left: 18%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.wall {
    position: relative;
    top: 64%;
    left: -73%;
    font-size: 12px;
    font-family: BOD_I;
}
.wall > span {
   font-family: BOD_R;
}
.aboutUs {
    background: url('../images/aboutUs.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 390px;
    left: 42%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.about {
    position: relative;
    top: -8%;
    left: 40%;
    font-size: 12px;
    font-family: BOD_I;
}
.about > span {
    font-family: BOD_R;
}
.breakTheWall {
    background: url('../images/breakTheWall.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 215px;
    left: 44%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.break {
    position: relative;
    top: 45%;
    left: 56%;
    font-size: 12px;
    font-family: BOD_I;
}
.break > span {
    font-family: BOD_R;
}
.wordsOfShame {
    background: url(../images/wallOfShame.png) no-repeat center center fixed;
    background-size: 100% 100%;
}
.logo {
    background: url('../images/homeScreen-logo.png') no-repeat center;
    width: 100%;
    height: 480px;
}
.page-header {
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    top: 33px;
    float: left;
}
.page-header > h1 {
    font-size: 43px;
    color: #525b86;
    font-weight: normal;
    font-family: MEODED-SERIF_OEREGULAR;
}
.page-header > h1 > span {
   font-family: SABON-LT-ITALIC;
}
.col-xs-1 {
    width: 12.333% !important;
}

/* Drop shadow for each rect element */
.shadow {
    -webkit-filter: drop-shadow( 8px 9px 0px #0D004C);
            filter: drop-shadow( 8px 9px 0px #0D004C);
}
.text {
    direction: rtl;
    width: 27%;
    position: absolute;
    top: 0;
    right: 0;
    font-family: MEODED-SERIF_OEREGULAR;
    font-size: 18px;
}
.text h2 {
    color: #0D004C;
    font-size: 3em;
    font-weight: bold;
}
.text p {
    color: #0D004C;
}
.text p span {
    color: #525b86;
}
.word {
    width: 20xp;
    text-align: center;
}
#svg {
    position: relative;
    top: -80px;
    right: 110px;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
    .SeeTheWall {
        width: 8%;
        left: 16%;
    }
     .wallOfshame {
        width: 10%;
    }
    .contactUs {
        width: 8%;
    }
    .aboutUs {
        width: 8%;
        left: 35%;
    }
    .breakTheWall {
        width: 9%;
        left: 27%;
        top: 155px;
    }
    main{
        left: -3%;
    }
}
@media screen and (max-width: 840px) {
    .logo {
        background: url('../images/logo-mobile.png') no-repeat 28% 52%;
    }
    .SeeTheWall {
        width: 16%;
        left: 0;
    }
    .wallOfshame {
        left: -100px;
    }
    .contactUs {
        width: 14%;
        left: -2%;
    }
    .aboutUs {
        width: 10%;
        left: 10%;
    }
    .breakTheWall {
        width: 13%;
        left: -2%;
    }
    .break {
        top: 63%;
        left: 26%;
    }
    .wall {
        left: -40%;
        top: 85%;
    }

}
@media screen and (min-width: 480px) and (max-width: 1080px) {
    #vis {
        width: 740px;
        height: 400px;
        margin-left: 0;
        margin-right: 0;
    }
    #toolbar {
        top: 250px;
    }
}
