@font-face {
    font-family: SabonItalicOsFRegular;
    src: url('./fonts/SABON-ITALIC-OLDSTYLE-FIGURES.TTF');
}
@font-face {
    font-family: MEODED-SERIF_OEBOLD;
    src: url("./fonts/MEODED-SERIF_OEBOLD.OTF") format("opentype");
}
* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 900px;
}

.allGender {
    background: url('../images/2sex_icon.png') no-repeat;
    width: 100%;
    height: 60px;
    cursor: pointer;
    float: left;
}

.byGender {
    background: url('../images/male_icon.png') no-repeat;
    width: 100%;
    height: 60px;
    display: block;
    cursor: pointer;
    position: relative;
    left: 114%;
}
a.active {
    border-bottom: 1px solid #525B86;

}
.row {
    margin: 0 !important;
}
.col-xs-1 {
    position: relative;
    left: 44%;
    top: 26px;
}
.background {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: 100% 100%;
}

#vis {
    width: 940px;
    height: 600px;
    position: relative;
    top: 50px;
    left: 16%;
}

#toolbar {
    position: relative;
    left:46%;
    float: left;
}

.year {
    font-size: 21px;
    fill: #aaa;
    cursor: default;
}

.tooltip {
    position: absolute;
    top: 100px;
	left: 100px;
    -moz-border-radius:5px;
	border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
	opacity: .9;
    color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
    font-weight:bold;
}

.SeeTheWall {
    background: url('../images/seethewall.png') no-repeat;
    width: 9%;
    height: 100px;
    position: relative;
    top: 204px;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.wordsOfShame {
    background: url(../images/wallOfShame.png) no-repeat center center fixed;
    background-size: 100% 100%;
}
.logo {
    background: url('../images/homeScreen-logo.png') no-repeat;
    width: 100%;
    height: 480px;
    background-attachment: fixed;
    background-position: center;
}
.page-header {
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 !important;
    float: left;
    position: relative;
    top: 150px;
    left: 38%;
}
.page-header > h1 {
    font-size: 43px;
    color: #525B86;
    font-family: SabonItalicOsFRegular;
    font-weight: normal;
}
