@font-face {
    font-family: BOD_I;
    src: url("./fonts/BOD_I.TTF");
}
@font-face {
    font-family: MEODED-SERIF_OEBOLD;
    src: url("./fonts/MEODED-SERIF_OEBOLD.OTF") format("opentype");
}
@font-face {
    font-family: SABON-LT-ITALIC;
    src: url("./fonts/SABON-LT-ITALIC.TTF");
}
* {
    margin: 0;
    padding: 0;
}
main {
    max-width: 1200px;
}

.allGender {
    background: url('../images/2sex_icon.png') no-repeat;
    width: 39%;
    height: 40px;
    cursor: pointer;
    float: left;
    margin-left: -24%;
}

.splitGender {
    background: url('../images/male-female.png') no-repeat;
    width: 50%;
    height: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 62px;
}
a.active > .border{
    border-bottom: 1px solid #525B86;
    width: 38px;
    position: absolute;
    top: 105%;
}
a.active > .borderline{
    border-bottom: 1px solid #525B86;
    width: 95%;
    position: absolute;
    top: 105%;
}
.col-xs-1 {
    position: relative;
    left: 44%;
    top: 26px;
}
.background {
    background: url(../images/background.png) no-repeat center center fixed;
    background-size: 100% 100%;
}

#vis {
    width: 940px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
}

footer {
    height: 75px;
}
#toolbar {
    position: relative;
    left:46%;
    float: left;
}

/*
.gender {
    font-size: 25px;
    fill: #F44F2F;
    cursor: default;
    font-family: SABON-LT-ITALIC;
}
*/

.tooltip {
    position: absolute;
    top: 100px;
	left: 100px;
    -moz-border-radius:5px;
    background: #FAC2C0;
	padding: 10px;
	width: 300px;
	font-size: 14px !important;
	z-index: 10;
    direction: rtl;
    font-family: MEODED-SERIF_OEBOLD !important;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
    font-weight:bold;
    color: #0D004C;
}
.tooltip .definition {
    color: #525B86;
    font-size: 12px !important;
}

.SeeTheWall {
    background: url('../images/seethewall.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 130px;
    left: 23%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.see {
    position: relative;
    top: 76%;
    left: 14%;
    font-size: 12px;
    font-family: SABON-LT-ITALIC;
}
.contactUs {
    background: url('../images/contactUs.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 250px;
    left: 15%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.contact {
    position: relative;
    top: -13%;
    left: -11%;
    font-size: 12px;
    font-family: SABON-LT-ITALIC;
}
.wallOfshame {
    background: url('../images/wallShame.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 350px;
    left: 18%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.wall {
    position: relative;
    top: 64%;
    left: -73%;
    font-size: 12px;
    font-family: SABON-LT-ITALIC;
}
.aboutUs {
    background: url('../images/aboutUs.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 390px;
    left: 42%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.about {
    position: relative;
    top: -8%;
    left: 40%;
    font-size: 12px;
    font-family: SABON-LT-ITALIC;
}
.breakTheWall {
    background: url('../images/breakTheWall.png') no-repeat;
    width: 6%;
    height: 70px;
    position: relative;
    top: 215px;
    left: 44%;
    float: left;
    cursor: pointer;
    color: #525B86;
}
.break {
    position: relative;
    top: 45%;
    left: 56%;
    font-size: 12px;
    font-family: SABON-LT-ITALIC;
}
.wordsOfShame {
    background: url(../images/wallOfShame.png) no-repeat center center fixed;
    background-size: 100% 100%;
}
.logo {
    background: url('../images/homeScreen-logo.png') no-repeat center;
    width: 100%;
    height: 480px;
}
.page-header {
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    position: relative;
    top: 105px;
}
.page-header > h1 {
    font-size: 43px;
    color: #0D004C;
    font-family: BOD_I;
    font-weight: normal;
}
.col-xs-1 {
    width: 12.333% !important;
}
@media screen and (min-width: 840px) and (max-width: 1080px) {
    .SeeTheWall {
        width: 8%;
        left: 16%;
    }
     .wallOfshame {
        width: 10%;
    }
    .contactUs {
        width: 8%;
    }
    .aboutUs {
        width: 8%;
    }
    .breakTheWall {
        width: 9%;
    }
}
@media screen and (max-width: 840px) {
    .logo {
        background: url('../images/logo-mobile.png') no-repeat center;
    }
    .SeeTheWall {
        width: 16%;
        left: 0;
    }
    .wallOfshame {
        width: 20%;
        left: 0;
    }
    .contactUs {
        width: 14%;
        left: -2%;
    }
    .aboutUs {
        width: 16%;
        left: 10%;
    }
    .breakTheWall {
        width: 19%;
        left: 10%;
    }
    .break {
        top: 63%;
        left: 26%;
    }
    .wall {
        left: -40%;
        top: 85%;
    }

}
@media screen and (min-width: 480px) and (max-width: 1080px) {
    #vis {
        width: 740px;
        height: 400px;
        margin-left: 0;
        margin-right: 0;
    }
    #toolbar {
        top: 250px;
    }
}
